* {
  margin: 0;
  font-family: "Inter", sans-serif;
}
.primary-btn {
  width: 160px;
  height: 56px;
  padding: 16px 12px;
  background: #ff5959;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}
.main-title {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  margin-top: 130px;
}
.universal-para {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.align-center {
  text-align: center;
}
/* Header Styles */
header {
  height: 669px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
      360deg,
      #121212 0%,
      rgba(18, 18, 18, 0) 100%
    ),
    url("../images/donation13.jpg");
}

.header-container {
  color: #ffffff;
  text-align: center;
  padding: 150px 305px;
}
.header-container h1 {
  font-weight: 700;
  font-size: 60px;
}
.header-container p {
  margin: 20px;
}
.header-container button {
  margin-top: 30px;
}

/* Donate Section Styles */
.donate {
  text-align: center;
  margin: 0 330px;
}

.donate p {
  margin-top: 20px;
}

.donate-amount-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.donate-amount {
  width: 135px;
  height: 123px;
  background: #f1efef;
  border-radius: 5px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 100px;
}
.donate-amount h2 {
  padding-top: 45px;
  font-size: 30px;
  color: #707070;
}

.donate-amount:hover {
  background: #ffeeee;
  border: 1px solid #ff5959;
  border-radius: 5px;
}

.donate-para {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #b3b3b3;
}

.donate hr {
  border: 1px solid #dadada;
}

/* Donation Plan Section */
.donation-plan {
}
.donation-plan-header {
  margin: 0 374px;
  text-align: center;
}

.donation-plan-header p {
  margin-top: 20px;
  margin-bottom: 50px;
}
.donate-plan-container {
  display: flex;
  justify-content: space-between;
  margin: 0 170px;
  gap: 24px;
}
.donation-plan-item {
  width: 360px;
  height: 250px;
  padding: 0 22px;
  padding-top: 60px;
}

.donation-plan-item h4 {
  margin-bottom: 16px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
}
.donation-plan-item p {
  color: #707070;
}

.item1 {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
}
.item2 {
  background: rgba(255, 89, 89, 0.1);
  border-radius: 5px;
}
.item3 {
  background: #fff4d6;
  border-radius: 5px;
}
